@font-face {
    font-family: 'Product Sans';
    src: url('/assets/fonts/ProductSans-Regular.woff');
    font-weight: normal;
}
@font-face {
    font-family: 'Product Sans';
    src: url('/assets/fonts/ProductSans-Bold.woff');
    font-weight: bold;
}

:root {
    background-image: url(/assets/images/bg2.svg);
    }

::selection {
    background: #7cc2ff73;
}

h1 {
    font-family: 'Product Sans', sans-serif;
    font-size: 9rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 20%;
    color: #fff;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    font-family: 'Product Sans', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    color: #fff;
}

a:link, a:visited, a:hover, a:active {
    color: #fff;
    text-decoration: none;
}

a {
    margin-right: 0;
    margin-left: 0;
    transition: 0.7s ease;
}

a:hover {
    margin-left: 1rem;
    margin-right: 1rem;
    transition: 0.7s ease;
}


@media (max-width: 450px) {
    h1 {
        font-size: 5rem;
    }
    .links {
        font-size: 1rem;
    }
}
